#Data
Reportes/
data/
backtest/

# Virtual environments
.venv/

#Packaging
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class